/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

/* Grid layout for the entire container */
.container {
    display: grid;
    grid-template-areas:
        "header header"
        "navbar navbar"
        "main sidebar"
        "footer footer";
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}

/* Header */
.header {
    grid-area: header;
    background-color: #6B4F3D; 
    color: #FDF6EC;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    padding: 20px;
    text-align: center;
    font-size: 2.3rem;
}

/* Navbar */
.navbar {
    grid-area: navbar;
    background-color: #C9A66B; 
    display: flex;
    justify-content: right;
    gap: 30px;
    padding: 15px;
}

.navbar a {
    color: #684733;
    font-family:'Courier New', Courier, monospace;
    text-decoration: underline;
    font-size: large;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background 0.3s;
}

.navbar a:hover {
    background-color: #E9D8B4;
}

/* Main Content */
.main-content {
    grid-area: main;
    background-color: #FFF9F4; 
    padding: 30px;
    font-size: 1.1rem;
}

h2 {
    color: #3E3E3E;
    font-size: x-large;
    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
}

p {
    color: #3E3E3E;
    font-size: large;
    font-style: italic;
    font-family:'Courier New', Courier, monospace;
}

.image {
    width: 800px;
    height: 400px;
    margin-top: 20px;
    margin-left: 70px;
    border-radius: 10px;
}

/* Sidebar */
.sidebar {
    grid-area: sidebar;
    background-color: #e5d5b3; 
    padding: 20px;
    overflow-y: auto;
}

.ad {
    background-color: #fff8f0;
    border: 1px solid #f4c896;
    margin-top: 37px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.ad img {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
}

.ad strong {
    font-size: 1.07rem;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}

.ad p {
    font-size: 1rem;
    font-family:'Courier New', Courier, monospace;
}

/* Footer */
.footer {
    grid-area: footer;
    background-color: #5A3E2B; 
    color: #FDF6EC;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    padding: 15px;
    font-size: 0.9rem;
}