body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f1fdf3;
  color: #2b4c2d;
}

header {
  background: #a1d99b;
  padding: 18px;
  text-align: center;
}

header h1 {
  margin: 6px;
}

.intro {
  text-align: center;
  padding: 5px;
  background: #eafce9;
}

.products {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  background: white;
  border-radius: 10px;
  width: 200px;
  margin: 15px;
  box-shadow: 0 0 10px #ccc;
  text-align: center;
  padding: 15px;
  line-height: 15px;
  height: 400px;
}

.card img {
  width: 100%;
  height: 60%;
  border-radius: 10px;
}

button {
    color: #f1fdf3;
    border-radius: 5px;
    background: #7ac374;
    border-color: #2b4c2d;
    border-width: 2px;
    padding: 4px;
    text-align: center;
    box-shadow: 2px 2px 10px #d4edda;
}

.offer-strip {
  background: #d4edda;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

footer {
  background: #a1d99b;
  text-align: center;
  padding: 2px;
  margin-top: 15px;
}