* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #e3f2fd;
}

header {
    background-color: #1976d2;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tagline {
    margin-left: 20px;
    font-size: 20px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.content {
    padding: 20px;
}

.places {
    margin-bottom: 20px;
    font-size: 19px;
    margin-top: 30px;
    text-align: center;
}

.gallery {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.gallery img {
    width: 350px;
    height: 350px;
    border-radius: 7px;
    margin-top: 40px;
    margin-left: 10px;
}

footer {
    background-color: #1976d2;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 130px;
}