body {
    font-family: sans-serif;
    margin: 0;
}

header {
    background-color: #1976d2;
    color: white;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.trips {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.trip {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #e3f2fd;
    padding: 10px;
    border-radius: 8px;
}

.trip img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
}

footer {
    background-color: #1976d2;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 0px;
}