body {
    font-family: sans-serif;
    margin: 0;
    background-color: #e3f2fd;
}

header {
    background-color: #1976d2;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 30px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.contact-info {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    border-radius: 5px;
    font-size: 30px;
    margin-top: 3px;
}

.contact-info img {
    width: 300px;
    height: 300px;
    border-radius: 7px;
    margin-top: 20px;
    margin-left: 10px;
}

footer {
    background-color: #1976d2;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 38px;
}